a {
    cursor: pointer;
}

body {
    font-family: 'Comfortaa', cursive;
}

.help-block {
    font-size: 12px;
}

.login-img {
    height: auto !important;
    width: 30% !important;
    display: block;
    margin: auto;
}

.btn-primary{
    border-radius: 60px !important;
    background-color: #039be5 !important;
    border:none !important;
}

.back{
    background-color: #f5f5f5;
}

.form-control{
    border-radius: 60px;
}

.title{
    font-weight: 700;
    color: #039be5;
}

.card{
    background-color: #fff;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:50px;
    margin-bottom:50px;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 1px 1px 1px 1px rgba(136, 136, 136, 0.58);
    margin-left: 350px;
}

.texto-footer{
    color: #fafafa;
}

.texto-footer-2{
    color: #575757;
}

.dashboard{
    padding-left: 20px;
    padding-right: 20px;
}

.profile{
    height: auto;
    width: 90px;
    display: block;
    margin: auto;
    margin-top: -60px;
    border-radius: 50px !important;
    box-shadow: 1px 1px 1px 1px #b4b4b4;
}

.card-dos{
    background: #fff;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 1px 1px #888888;
}

.fondo-profile{
    height: auto;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.icons{
    display: block;
    margin: auto;
    height: auto;
    width: 30%;
    padding-top: 15px;
    padding-bottom: 15px
}

.decripcion{
    margin-top: 50px !important;
}

.caption{
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-bottom: 30px !important;
}

.thumbnail {
    padding: 0px;
    border-radius: 10px;
}

.welcome{
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-danger{
    border-radius: 50px;
    border: none;
}

.navbar{
    background-color: #fff;
    border-radius: 0px;
    box-shadow: 1px 1px 1px 1px #939393;
    border: 0px;
}

/* VIDEO */
#video_background { 
	position: absolute; 
	bottom: 0px; 
	right: 0px; 
	min-width: 100%; 
	min-height: 100%; 
	width: auto; 
	height: auto; 
	z-index: -1000; 
	overflow: hidden; 
}

#video_pattern { 
	background:#fff; 
	position: fixed; 
	opacity: 0.8; 
	left: 0px; 
	top: 0px; 
	width: 100%; 
	height: 100%; 
	z-index: 1; 
}